@font-face {
  font-family: 'TondoCorp-Light';
  src: url("../fonts/TondoCorp-Light.eot");
  src: local(""), url("../fonts/TondoCorp-Light.woff") format("woff"), url("../fonts/TondoCorp-Light.ttf") format("truetype"), url("../fonts/TondoCorp-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TondoCorp-Regular';
  src: url("../fonts/TondoCorp-Regular.eot");
  src: local(""), url("../fonts/TondoCorp-Regular.woff") format("woff"), url("../fonts/TondoCorp-Regular.ttf") format("truetype"), url("../fonts/TondoCorp-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TondoCorp-Bold';
  src: url("../fonts/TondoCorp-Bold.eot");
  src: local(""), url("../fonts/TondoCorp-Bold.woff") format("woff"), url("../fonts/TondoCorp-Bold.ttf") format("truetype"), url("../fonts/TondoCorp-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

$tcl: 'TondoCorp-Light',
sans-serif;
$tcr: 'TondoCorp-Regular',
sans-serif;
$tcb: 'TondoCorp-Bold',
sans-serif;

html,
body {
  overflow-x: hidden;
}

@media only screen and (max-width: 1000px) {

  html,
  body {
    overflow-x: inherit;
  }
}

body {
  position: relative;
  font-family: $tcr;
}

a,
input,
.select2-container {
  transition: all .3s;
}

h3 {
  margin: 0 0 30px;
  font-family: $tcb;
  font-size: 48px;
  letter-spacing: 2px;
}

::-webkit-input-placeholder {
  color: #4FACFE;
}

::-moz-placeholder {
  color: #4FACFE;
}

:-ms-input-placeholder {
  color: #4FACFE;
}

:-moz-placeholder {
  color: #4FACFE;
}

input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  font-family: $tcr;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #00f2fe;
  border-radius: 0;
  background: transparent;
  border: 2px solid #ffffff;
  outline: none;

  &.novalidate {
    border-color: #D8000C;
  }
}

::-ms-clear {
  display: none;
}

.select2-container {
  width: 100% !important;
  height: 50px;
  font-family: $tcr;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #00f2fe;

  &.novalidate {
    span.select2-selection.select2-selection--single {
      border-color: #D8000C;
    }
  }
}

span.select2-selection.select2-selection--single {
  border: 2px solid #ffffff;
  border-radius: 0;
  transition: all .3s;
}

.select2-container--default .select2-selection--single {
  height: 50px;
  text-align: left;
  border: none;
  background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 46px;
  color: #00f2fe;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 15px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #4facfe;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  display: none;
}

span.select2-selection.select2-selection--single {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 2px;
  right: 2px;
  width: 40px;
  height: 50px - 4;
  text-align: center;
  background-color: #fff;
  border-color: #fff;

  &:after {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 1px;
    margin-left: 1px;
    display: inline-block;
    width: 100%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 46px;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    color: #333;
    content: '\f078';
  }

  b {
    display: none;
  }
}

.select2-dropdown {
  border-radius: 0;
  border: none;
}

.select2-results__option {
  color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: transparent;
  color: #4FACFE;
}

.select2-container--open .select2-dropdown {
  left: 0px;
}

.select2-results__option {
  padding: 0 20px;
  line-height: 46px;
  transition: all .3s;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #F0F1F2;
}

.select2-dropdown {
  background-color: #0e1e33;
}

a.btn-custom,
.btn-custom {
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 0 80px;
  text-decoration: none;
  font-family: $tcb;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #333;
  background-color: #fff;

  &:after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    content: '';
    transition: all .3s;
  }

  &:hover {
    &:after {
      top: 8px;
      left: 8px;
    }
  }
}

@keyframes content-show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes cosmonaut-fly {
  0% {
    top: 40px;
  }

  50% {
    top: 0;
  }

  100% {
    top: 40px;
  }
}

@keyframes star {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-height: calc(100vh - 60px);
  text-align: center;
  color: #ffffff;
  background-color: #091624;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;

  &-content {
    position: relative;
    padding-top: 240px + 40 + 40;
    animation: content-show ease-out 1.5s;

    p {
      margin-bottom: 30px;
      font-family: $tcr;
      font-size: 21px;
      line-height: 38px;
      letter-spacing: 1px;

      span {
        display: block;
        font-family: $tcb;
        font-size: 26px;
        letter-spacing: 2px;
      }
    }

    form {
      margin-bottom: 40px;
    }

    .share-title {
      margin-top: 35px;
      padding: 0;
    }

    .repeat {
      display: inline-block;
      margin-top: 35px;
      text-decoration: none;
      font-family: $tcr;
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff;

      i {
        font-size: 18px;
      }

      &:hover {
        color: #00f2fe;
      }
    }

    .share-planet {
      position: relative;
      display: inline-block;
      margin: 0 15px;
      text-decoration: none;

      img {
        transition: all 3s;
      }

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 126px;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Brands";
        font-size: 40px;
        color: #fff;
        transition: all .3s;
      }

      &-fb {
        &:after {
          content: '\f39e';
        }
      }

      &-vk {
        &:after {
          content: '\f189';
        }
      }

      &:hover {
        &:after {
          color: #00f2fe;
        }
      }
    }

    &.off {
      display: none;
    }
  }
}

@media only screen and (max-height: 740px) {
  .hero {
    &-content {
      &-srart {
        margin-top: 60px;
        padding-bottom: 60px;
      }
    }
  }
}

@media only screen and (max-height: 840px) {
  .hero {
    &-content {
      &-two {
        margin-top: 60px;
        padding-bottom: 60px;
      }
    }
  }
}

@media only screen and (max-height: 920px) {
  .hero {
    &-content {
      &-three {
        margin-top: 60px;
        padding-bottom: 60px;
      }
    }
  }
}

.greeting {
  margin: 0;
  text-transform: lowercase;
  font-family: $tcb;
  font-size: 38px;
  letter-spacing: 2px;
  text-shadow: 0px 0px 45px rgba(255, 255, 255, 0.7);

  &-name {
    text-transform: initial;
  }

  &-sex,
  &-who {
    text-transform: lowercase;
  }
}

// IE Fix
.backgroundcliptext .greeting {
  background: linear-gradient(to right, #4FACFE, #00F2FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star {
  position: absolute;
  background-image: url('../img/star.svg');
  background-size: cover;

  &-1 {
    top: 14vh;
    left: 10vw;
    width: 15px;
    height: 15px;
    animation: star ease-out 2s infinite;
  }

  &-2 {
    bottom: 10vh;
    right: 17vw;
    width: 20px;
    height: 20px;
    animation: star ease-out 2.2s infinite;
  }

  &-3 {
    bottom: 32vh;
    left: 22vw;
    width: 25px;
    height: 25px;
    animation: star ease-out 1.8s infinite;
  }
}

.cosmonaut {
  position: absolute;
  top: -260px;
  right: 0;
  left: 0;
  margin: 0 auto;
  animation: cosmonaut-fly ease-out 4s infinite;

  img {
    width: auto;
    height: 240px;
  }
}

@media only screen and (max-width: 1440px) {
  .hero {
    &-content {
      padding-top: 180px + 40 + 30;
    }
  }

  .cosmonaut {
    top: -180px;

    img {
      height: 180px;
    }
  }
}

.planet {
  position: absolute;
  top: -100px;
  right: -100px;

  &-one {
    position: absolute;
    top: 0;
    right: 0;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background: linear-gradient(219.57deg, #111111 34.48%, #0D6581 74.18%, #5DA0F3 92.87%);
  }

  &-two {
    position: absolute;
    top: 16vw;
    right: 60px;
    z-index: 1;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    background: linear-gradient(219.57deg, rgba(17, 17, 17, 0.37) 34.95%, rgba(35, 220, 220, 0.5) 74.18%, rgba(144, 242, 224, 0.5) 92.87%);
  }
}

.footer {
  height: 60px;
  padding: 10px 0;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  background-color: #f4f4f4;

  p {
    margin: 0;
  }
}

.image-social {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #091624;
  background-image: url('../img/image-social/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  &-content {
    position: relative;
    z-index: 1;
  }

  &-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 220px;
  }

  h3 {
    margin-bottom: 30px;
    font-size: 34px;
  }

  .greeting {
    font-size: 32px;
    color: #00F2FE;

    &-name {
      text-transform: initial;
    }
  }

  .cosmonaut {
    position: relative;
    top: 0;
    margin-bottom: 30px;
    animation: none;

    img {
      width: 140px;
      height: auto;
    }
  }

  .planet {
    top: 0;
    right: 0;

    img {
      width: 250px;
    }
  }

  &.off {
    display: none;
  }
}

.image-fb {
  width: 1000px;
  height: 523px;
  padding-top: 115px;
}

.image-vk {
  width: 1000px;
  height: 447px;
  padding-top: 75px;
}

@media only screen and (max-width: 991px) {
  .select-item {
    margin-top: 30px;
  }

  .planet {
    top: -110px;
    right: -110px;
    transform: scale(1.3);
  }

  .footer {
    height: auto;
    padding: 10px 0;

    img {
      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
      line-height: 16px;
    }
  }

  // .star {
  //   display: none;
  // }
}

@media only screen and (max-width: 767px) {
  .planet {
    top: -120px;
    right: -120px;
    transform: scale(1.6);
  }
}

@media only screen and (max-width: 575px) {
  .planet {
    display: none;
  }

  .hero-content {
    margin-top: 50px;
    padding-top: 240px;
    padding-bottom: 50px + 40;

    h3 {
      margin-bottom: 20px;
      font-size: 32px;
    }

    .greeting {
      font-size: 28px;
    }

    .share-title {
      margin-bottom: 30px;
    }

    .repeat {
      margin-top: 30px;
    }

    p {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 22px;

      span {
        margin-top: 10px;
        font-size: 20px;
      }
    }

    .share-planet {
      img {
        max-width: 90px;
      }

      &:after {
        font-size: 28px;
        line-height: 90px;
      }
    }
  }

  .footer {
    img {
      max-width: 220px;
    }
  }
}